<div class="admin-profile-background">
     <div class="admin-login">
          <div class="row">
               <div class="col s12 l6 offset-l3">
                    <div class="admin-heading">
                         Login to your account
                    </div>
                    {{#if messages}}
                         {{this.messages}}
                    {{/if}}
                    <div class="row">
                         <form class="col s12" action="/admin/login" method="POST">
                              <div class="row">
                                   <div class="input-field col s12">
                                        <input id="contact" name="mobile" type="number" class="validate">
                                        <label for="contact">Your register contact number</label>
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="input-field col s12">
                                        <input id="password" name="password" type="password" class="validate">
                                        <label for="password">Enter password</label>
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="input-field">
                                        <button type="submit" class="btn col s12 admin-blue-background">
                                             Login to your account
                                        </button>
                                   </div>
                              </div>
                         </form>
                    </div>
               </div>
          </div>
     </div>
</div>