<div class="heading-2" style="margin-top: 30px; margin-bottom: 30px;">
     Hey admin this is little bit complecated, just grab category id from category page
</div>
<div class="container">
     <div class="row">
          <form action="/admin/create-product-slider" method="POST" class="col s12 offset-l2 l8">
               <div class="row">
                    <div class="input-field col s12">
                         <input type="text" name="category" id="category" class="validate">
                         <label for="category">Enter id of your category</label>
                    </div>
                    <div class="input-field col s12">
                         <input type="text" name="title" id="title" class="validate">
                         <label for="title">What is your slider title</label>
                    </div>
               </div>
               <div class="row">
                    <div class="input-field">
                         <button type="submit" class="btn col s12 admin-blue-background waves-effect waves-light">
                              Upload product slider
                         </button>
                    </div>
               </div>
          </form>
     </div>
</div>