<div class="center" style="text-align: center; margin-top: 50px;">
     <div class="">
          <img src="/images/svg/not-found.svg" class="responsive-img" width="300" alt="">
     </div>
     <div class="not-found-error-text">Hmm!!! Page Not Found</div>
     <div style="margin-top: 50px;">
          <span>
               <a href="/" class="btn blue z-depth-0">
                    Go Back to homepage <i class="material-icons left">subdirectory_arrow_left</i>
               </a>
          </span>
          <span>
               <a href="/" class="btn z-depth-0">
                    <i class="material-icons left">local_phone</i> Contact us
               </a>
          </span>
     </div>
</div>
<div class="center">
{{error.status}}
<h1>{{error.status}}</h1>
 <pre>{{error.stack}}</pre>
</div>
