{{!-- Static breadcrums --}}
<ul class="breadcrumbs ">
     <li><a href="/">Home</a></li>
     <li><a href="/" class="main-line">All categories</a></li>
</ul>
{{!-- Static breadcrums ends --}}

<div class="heading-2">
     Pick a category
</div>

<div class="container" style="margin-bottom: 50px; margin-top: 50px;">
     <div class="row">
          <div class="col s3 m4 l2 center">
               <a href="#">
                    <div class="category-image">
                         <img src="https://images.squarespace-cdn.com/content/v1/5b170fc2ee1759d2a5de22a3/1574803314826-WP2Q2D7ZHVW8SAMF1GIJ/ke17ZwdGBToddI8pDm48kAhbKn3_AFfoK17ffgGkOhF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UUsyaJ1MHN42WFU3j6xrei3KltwcIDgaiW9nGrK9VIKyxJ-BQGo94klLBA8TVf45lA/CG-Skincare-placeholder.jpg"
                              width="100" class="responsive-img" alt="">
                    </div>
                    <div class="category-name">
                         Skin care products
                    </div>
               </a>
          </div>
          <div class="col s4 m4 l2 center">
               <a href="#">
                    <div class="category-image">
                         <img src="https://i.pinimg.com/originals/83/5f/93/835f93b78c9b86d1e99b64b48f0a155c.png"
                              width="100" class="responsive-img" alt="">
                    </div>
                    <div class="category-name">
                         Hair care products
                    </div>
               </a>
          </div>
     </div>
</div>